build/*
dataset/*
exes/*
trace.txt
trace*
output*.txt
read_result.txt
read_result*.txt
build_dataset2
build_dataset2-seq
build_dataset3
build_dataset2-a-lot-random
temp/*
ftl-*/*
笔记.md
FlameGraph/*
*.ssd
massif.*
out.*
metrics.*
*.data